@model IEnumerable<YouthSailingClassifieds.Models.Listing>

@{
    ViewBag.Title = "MyListings";
}

<style>
    .delete-section {
        display: inline;
    }
</style> 

<h2>My Listings</h2>
@Html.AntiForgeryToken()
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListingTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListDate)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListingType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListDate)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListingId }) |
            <div class="delete-section">
                <a class="delete-link" href="@Url.Action("Delete", new {id = item.ListingId})">Delete</a>
                <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@item.ListingId">Confirm Delete</div>
            </div>
        </td>
    </tr>
}

</table>

@section scripts{
    <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>
}
